@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(254 255 234/1);
  --foreground: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
